<h1> All Products</h1>
<hr>
<% @products.each_slice(3) do |products| %>
	<div class="row">
		<% products.each do |product| %>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= product.name %>
					</div>
					<div class="panel-body">
						<%= image_tag(product.image.url(:medium)) %>
						<br>
						<%= product.description %>
						<br>
						<br>
						Price : <strong> <%= product.price %> </strong>
					</div>
					<div class="panel-footer">
						<%= link_to "Edit", edit_product_path(product), class: "btn btn-xs btn-success" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<br>
<br>
<%= link_to "New Product", new_product_path, class: "btn btn-primary" %>
